# D-I config version 2.0
# Copyright (C) 2021, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0
DEFAULT menu.c32
TIMEOUT 1
LABEL votp
 MENU LABEL ^VOTP FLASH
 KERNEL images/bzImage
 INITRD images/seapath-flash-pxe-votp.cpio.gz
 APPEND ip=dhcp console=ttyS0,115200 console=tty0
